<ion-header>

  <ion-navbar color="primary">
    <ion-title>Acesso Visitante</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="back">

  <h1 text-center>
    <ion-icon class="auth-icon" name="ios-key" color="primary"></ion-icon>
  </h1>


  <form [formGroup]="accessForm" (ngSubmit)="onSubmit(); $event.preventDefault()">

    <ion-item>
      <ion-icon name="md-key" item-left color="primary"></ion-icon>
      <ion-input type="tel" maxlength="4" placeholder="Código" color="primary" formControlName="codigo"></ion-input>
    </ion-item>

    <br />

    <button ion-button full type="sumbmit" [disabled]="accessForm.invalid">Abrir Porta</button>

  </form>




</ion-content>