page-visit-access {
  .back {
    background-color: #e0f2f1 !important;
  }

  .item {
    color: #004d40 !important;
    margin-bottom: none;
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 5px !important;
  }
}
