// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.auth-icon {
  font-size: 7em;
}

// Estilo das barras de scrool.
::-webkit-scrollbar-track {
  background-color: transparent !important;
}
::-webkit-scrollbar {
  width: 5px !important;
  background-color: transparent !important;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 140, 140, 0.5) !important; // Condomer fraco
  border-radius: 6px !important;
}
